.movie-card-list-parent-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100%;
}

.movie-card-list-container {
    position: absolute;
    top: calc(2vh);
    width: 95%;

    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-bottom: 3rem;

    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: calc(95rem)) {
    .movie-card-list-container {
        grid-template-columns: 20rem 20rem 20rem;
    }
}

@media only screen and (max-width: calc(65rem)) {
    .movie-card-list-container {
        grid-template-columns: 20rem 20rem;
    }
}

@media only screen and (max-width: calc(43rem)) {
    .movie-card-list-container {
        grid-template-columns: 20rem;
    }
}