.movie-card-list-container {
    position: absolute;
    top: calc(2vh);
    left: 3em;

    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 30px;
    row-gap: 30px;

    padding-bottom: 40px;
}