.register-account-parent-container {
    display: flex;
    flex-direction: column;
    
    width: 70%;
    min-width: 28rem;
    min-height: calc(100vh - calc(2 * var(--header-height)) - 0.1rem);
    height: fit-content;
    position: relative;
    left: calc(calc(calc(100% - 70%) / 2));
    top: 1.5rem;
    align-items: center;
}

.register-account-header-container {
    width: 100%;
}


.register-account-input-container {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin-bottom: 2rem;
    }
    
.register-account-button-container {
    width: 70%;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: calc(32rem)) {
    .register-account-parent-container {
        width: 100%;
        left: 0px;
    }
}