.ticket-counter-item-container {
    margin-bottom: 0.5rem;
    border: 1px solid var(--light-border-color);

    padding: 0.3rem;
    background-color: var(--card-bg-color);
    width: 90%;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-counter-item-button {
    position: relative;
    right: -0.2rem;
}

@media only screen and (max-width: 750px) {
    .ticket-counter-item-container {
        height: 1.5rem;
    }
    
    .ticket-counter-item-button {
        display:flex;
        justify-content: center;
        align-items: center;
        
        padding: 0.5rem;
        height: 1.8rem;
    }
}