.screening-movie-details {
    display: flex;
    flex-direction: row;

    align-items: start;
    justify-content: left;

    padding: 0px 2rem;

    position: relative;
    height: 70%;
}

.screening-movie-details-poster {
    width: 20rem;
    max-height: 100%;
}

.screening-movie-details-info {
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    position: relative;
    width: calc(100% - 20rem);
    height: 100%;

    padding: 0rem 1rem 1rem 1rem;
}

.screening-movie-details-title, .screening-movie-details-description {
    text-align: left;
    margin-bottom: 0px;
    width: 100%;
}

.screening-movie-details-title {
    margin-top: 0px;
    height: 4rem;
    overflow: scroll;
}

.screening-movie-details-description {
    height: 16rem;
    overflow: scroll;
}

.screening-movie-meta-info {
    width: 100%;
    position: relative;

    text-align: left;
}