.screening-movie-details {
    display: flex;
    flex-direction: column;
    justify-content: left;

    padding: 0px 2rem;

    position: relative;
    height: 70%;
}

.screening-movie-information {
    width: 100%;
}

.screening-movie-details-poster {
    display: flex;
    position: relative;
    max-width: 25rem;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.screening-movie-details-info {
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: left;

    position: relative;
    width: 100%;

    padding: 0rem 1rem 1rem 1rem;
}

.screening-movie-deatils-description-header {
    text-align: left;
    display: flex;
    justify-content: left;

    padding-bottom: 0px;

    width: fit-content;
    border-bottom: 1px solid black;
}

.screening-movie-details-title, .screening-movie-details-description {
    text-align: left;
    margin-bottom: 0px;
    width: calc(100% - 1rem);
}

.screening-movie-details-title {
    margin-top: 0px;
    height: 4rem;
}

.screening-movie-details-description {
    display: flex;
    justify-content: left;

    height: 15rem;
    max-width: 20rem;
    overflow-y: scroll;

    background-color: var(--secondary-card-bg-color);
    border-radius: 10px;

    padding: 0.5rem;
    margin-top: 0px;
}

.screening-movie-meta-info {
    width: 100%;
    position: relative;

    text-align: left;
}


@media only screen and (max-width: calc(600px)) {
    .screening-movie-details {
        flex-direction: column;
    }

    .screening-movie-details-info {
        width: 90%;
    }

    .screening-movie-details-description {
        max-height: 16rem;
        height: fit-content;
    }
}