.movie-page-parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: 1em;
    left: 5vw;

    padding: 2vw;
    width: calc(100vw - calc(2*2vw) - 10vw);
    height: calc(calc(100vh - calc(2*2vw)) - 6em - 2em);

    border: solid red 5px;
    border-radius: 1rem;
}

.movie-page-image {
    position: relative;
    left: 0.3em;

    width: 25em;
    height: fit-content;
}

.movie-page-image > img {
    width: 100%;
}