.ticket-counter-parent-container {
    direction: ltr;
    display: flex;
    flex-direction: column;

    z-index: 7;

    position: static;
    width: fit-content;
    left: 0.2rem;

    overflow-y: scroll;
    height: 30rem;
    width: 11.2rem;
}

.ticket-counter-header {
    margin: 0px;
}

.ticket-counter-text {
    font-size: large;
    font-weight: 600;
}

.ticket-counter-mobile-button {
    position: absolute;
    top: 0px;
    right: 0px;

    width: 10rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-counter-item-list {
    width: 80%;
    height: 100%;
}

.ticket-counter-mobile-button.close {
    top: 0rem;
}

.ticket-counter-mobile-button.open {
    top: 0rem;
}

@media only screen and (max-width: 750px) {
    .ticket-counter-text {
        display: flex;
        justify-content: center;
        align-items: end;

        position: relative;
        top: 0rem;
    }

    .ticket-counter-parent-container {
        display: flex;
        justify-content: end;
        align-items: center;

        position: relative;
        top: 0rem;
        
        overflow-y: hidden;

        width: 90%;
        max-height: 7rem;
        height: fit-content;
        border-top: 1px solid var(--light-border-color);
    }

    .ticket-counter-parent-container.open{
        overflow-y: none;
        scrollbar-width: none;
    }

    .ticket-counter-parent-container.close{
        position: relative;

        overflow-y: scroll;
        scrollbar-width: thin;
    }
}