.upcoming-card-locale-details {
    position: relative;
    top: -5px;
    border-top: 1px solid var(--light-border-color);
    background-color: var(--card-bg-color);
    border-radius: 0.2rem;
    padding-bottom: 0.4rem;
    
    height: fit-content;
    width: 100%;
}

.upcoming-card-start-time {
    margin: 0px;
    font-weight: 600;
}

.upcoming-card-theater-name {
    padding: 0.5rem 0rem;

}

.upcoming-card-parent-container {
    margin: 5px 5px 5px 5px;
    width: 300px;
}