.profile-view-parent-container {
    width: 80%;
    min-width: 22rem;
    min-height: calc(100vh - calc(2 * var(--header-height)) - 2.1rem);
    height: fit-content;

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;
    padding-top: 2rem;
}

.profile-view-special-role-notification {
    font-size: large;
    font-weight: 600;
}

.profile-view-special-role-notification > * {
    margin: 0px;
}

.profile-view-header {
    position: sticky;
    text-align: left;
    width: calc(100% - 0.5rem);
    padding-left: 0.5rem;
}

.profile-personal-information-container {
    width: 100%;
    background-color: var(--card-bg-color);
    padding-bottom: 1.5rem;
}

.profile-personal-information-container > button {
    background-color: var(--button-color);
    color: var(--primary-text-color);
}

@media only screen and (max-width: calc(28rem)) {
    .profile-view-parent-container {
        width: 100vw;
    }
}