.password-validation-parent-container {
    text-align: left;
}

.password-validation-info-header {
    padding-left: 3rem;
    margin: 0px;
    margin-top: 0.5rem;
}

.password-validation-rule-list {
    margin: 0px;
}

.validate-password-rule-item.valid > span {
    color: green;
}

.validate-password-rule-item.invalid > span {
    color: crimson;
}