.profile-change-password-container {
    margin-top: 1rem;
    background-color: var(--card-bg-color);    
}

.profile-change-password-show-element {
    width: 100%;
    font-size: large;
    font-weight: 600;
}

.profile-change-password-hide-element {
    padding: 0.2rem 0.5rem 0.2rem 0.4rem;
    border-radius: 0px;
    outline: none;
}

.profile-change-password-hide-element:hover {
    border: none;
}

.profile-change-password-hide-element:focus {
    outline: none;
}

.profile-change-password-close-container {
    position: relative;
    float: right;
    top: 0.2rem;
    right: 0.2rem;
}

.profile-view-password-submit-error {
    display: flex;
    padding-left: 2rem;

    text-align: left;
    width: 100%;
    font-weight: 600;
    font-size: large;
}