.movie-card-container {
    min-width: 250px;
    max-width: 300px;


    padding: 5px;
    border-radius: 10px;
    
    background-color:var(--card-bg-color);
}

.movie-card-title-header {
    margin: 0px;
    margin-bottom: 0.5rem;
}

.movie-card-container > img {
    width: auto;
    height:300px;
    border-radius: 5px;
    border: 0.1px solid var(--light-border-color);
}

.movie-card-additional-information {
    display: flex;
    justify-content: space-between;

    padding: 0px 1.5rem;
}