.user-overview-outer-container {
    display: flex;
    justify-content: right;
    align-items: center;

    position: relative;
    right: 5px;
}

.user-overview-outer-container > button {
    height: 2.2rem;
    margin-right: 20px;
    padding: 0.2rem 0.4rem;
}