.account-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.4rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 2px solid var(--card-bg-color);
    background-color: var(--secondary-card-bg-color);
    cursor: pointer;
}