.header-container {
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 0px;

    height: var(--header-height);
    width: calc(100vw - calc(2 * 0.5rem));
    min-width: 250px;

    background-color: var(--header-bg-color);
    border-bottom: solid 5px var(--accent-color);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 0.5rem;
}
.header-cinema-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-image {
    padding-top: 0.5rem;
    width: var(--header-height);
}
