.header-container {
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 0px;

    height: var(--header-height);
    width: 100vw;


    background-color: var(--header-bg-color);
    border-bottom: solid 5px var(--header-border-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}