.header-container {
    position: fixed;
    z-index: 4;
    top: 0px;
    left: 0px;

    height: 5em;
    width: 100vw;


    background-color: lightseagreen;
    border-bottom: solid 5px green;

    display: flex;
    justify-content: space-between;
    align-items: center;
}