#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  position: fixed;
  top: 75px;
  left: 0px;

  background-color: var(--site-bg-color);
  width: calc(100vw);
  height: calc(100vh - 75px);

  overflow: scroll;
  scrollbar-width: thin;

  margin: 0px;
  border: 0px;

  display: flex;
  justify-items: center;
  align-content: center;
}