.theater-seat-map-seat-symbol.selected {
    fill: gold;
}


.theater-seat-map-seat-symbol.available {
    fill: darkgreen;
}


.theater-seat-map-seat-symbol.occupied {
    fill: lightgray;
}

.theater-seat-map-seat-symbol {
    cursor: pointer;
}